.cardContainer {
    position: relative;
    display: flex;
    height: 500px;
    width: 1400px;
    margin: 0 auto;
    margin-top: 100px;
}
.dealerCardContainer {
    display: flex;
    background-color: blue;
    height: 100%;
    width: 50%;
}
.playerCardContainer {
    display: flex;
    background-color: green;
    height: 100%;
    width: 50%;
}
.playerDetailsContainer {
    position: relative;
    background-color: rgba(170, 170, 253, 0.637);
    height: 200px;
    width: 500px;
    margin: 0 auto;
    margin-top: 100px;
    border: 0.5px dotted red;
}
.startGameButton {
    position: absolute;
    bottom: 0;
    left: 40%;
}
.playerNameInput {
    position: absolute;
    bottom: 40%;
    left: 35%;
}
.drawCardButton {
    margin-left: 500px;
    
}

.playerCard {
    padding-top: 40px;
}
.dealerCard {
    padding-top: 40px;
}
.standButton {

}